<div class="container pt-5 mt-15">
    <div class="flex items-center">
        <h1 class="text-4xl font-bold">Hola, soy Zsigmond Lendvai</h1>
        <span class="text-1xl ml-4 p-1 border-2 border-green-600 rounded-full"
            >Disponibilidad inmediata para trabajar.
        </span>
    </div>
    <h2 class="text-2xl">
        <span class="text-green-500"
            >Desarrollador java profesional y full-stack</span
        >, con experiencia en desarrollo web responsivo.
    </h2>
    <h2 class="text-2xl">
        De Gran Canaria, España. Especializado en crear aplicaciones unicas.
    </h2>
    <img
        class="rounded w-140 h-85 mb-5 mt-3"
        src="../assets/certificado-programador-java.png"
        alt="certificado de java"
    />
    <p class="text-xl">
        He tenido el honor de realizar mis practicas en una empresa de <span
            class="text-green-500">marketing digital</span
        > llamada <span class="text-green-500">Coco Solution</span>, he
        aprendido mucho sobre el desarrollo web y sigo aprendiendo cada día para
        mejorar mis habilidades.
    </p>
    <img
        class="rounded w-100 h-160 mb-3 mt-3"
        src="../assets/Carta de recomendación.png"
        alt="carta de recomendación"
    />
</div>
