<div class="flex flex-col items-start gap-2 pl-10">
    <h2 class="text-xl mb-3 mt-6 underline">Mis contactos</h2>
    <div class="flex space-x-2">
      <div class="w-6 h-5"> <img src="src/assets/mail_17943168.png" alt="e-mail"></div>
      <div>zsigmondlendvai@tutanota.com</div>
    </div>
    <div class="flex space-x-2">
      <div class="w-6 h-5"> <img src="src/assets/mail_17943168.png" alt="e-mail"></div>
      <div>rethen903@gmail.com</div>
    </div>
    <div class="flex space-x-2">
      <div class="w-6 h-5"> <img src="src/assets/telephone_17580791.png" alt="callphone"></div>
      <div>+34 650 71 43 05</div>
    </div>
  </div>
  
  

