---
import "../styles/global.css";
import "@fontsource-variable/montserrat";
---

<header class="fixed top-0 z-50 flex justify-end items-center px-2 w-full border-b-2 border-green-600">

    <nav class="flex space-x-0">
        <a href="/" class="p-3 hover:bg-green-600 transition duration-400"
            >Inicio</a
        >
        <a href="#sobre-mí" class="p-3 hover:bg-green-600 transition duration-400"
            >Sobre mí</a
        >
        <a href="#proyectos"
            class="p-3 hover:bg-green-600 transition duration-400"
        >
            Proyectos</a
        >
        <a href="#contacto" class="p-3 hover:bg-green-600 transitio duration-400"
            >Contacto</a
        >
    </nav>
</header>
