<div id="proyectos" class="container mt-6 pl-2">
    <h2 class="text-xl mt-6 underline">Proyectos</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="w-100 h-35 mb-30 mt-5">
            <p>Proyecto full-stack solo para pc</p>
            <img
                class="rounded mb-2 mt-1"
                src="/src/assets/Képernyőfelvétel (95).png"
                alt="weather app"
            />
            <a
                class="hover:text-blue-500 underline"
                href="https://weather-vite-applitacion.netlify.app/"
                target="_blank"
                rel="noopener noreferrer"
            >
                https://weather-vite-applitacion.netlify.app/</a
            >
        </div>

        <div class="w-100 h-35 mb-30 mt-5">
            <p>Proyecto frontend responsivo</p>
            <img
                class="rounded mb-2 mt-1"
                src="/src/assets/Képernyőfelvétel (96).png"
                alt="online courses"
            />
            <a
                class="hover:text-blue-500 underline"
                href="https://online-courses-018623.netlify.app/"
                target="_blank"
                rel="noopener noreferrer"
            >
                https://online-courses-018623.netlify.app/</a
            >
        </div>

        <div class="w-100 h-35 mb-30 mt-5">
            <p>Proyecto frontend responsivo</p>
            <img
                class="rounded mb-2 mt-1"
                src="/src/assets/Képernyőfelvétel (97).png"
                alt="financial business plan"
            />
            <a
                class="hover:text-blue-500 underline"
                href="https://financial-business-plan-6c5e41.netlify.app/"
                target="_blank"
                rel="noopener noreferrer"
            >
                https://financial-business-plan-6c5e41.netlify.app/</a
            >
        </div>
    </div>
</div>
